 <!DOCTYPE html>
<html>
 <head>
 <title>Fountainhead MTB Trail Status</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
 </head>

 <body>
  <div class="container">
   <div class="title">Fountainhead MTB Trails</div>
   <div class="status {{ call.status }}">{{ call.status.upper() }}</div>
   <audio src="{{ call.recording_url }}" controls=""></audio>
   <div class="date">Last updated: {{ call.date.astimezone(timezone).strftime('%m/%d/%Y %I:%M%p') }}</div>
   <p class="transcript">{{ call.transcript }}</p>
   <p>
    Hosting and running this isn't free. I'm using
    <a href="http://twilio.com" target="_blank">Twilio</a> to call the hotline
     and transcribe the message.
   </p>
   <p>So feel free to click this button and help run this service or
    buy me a beer.</p>
   <script data-gratipay-username="DanielSchep"
     data-gratipay-widget="button"
     src="//grtp.co/v1.js"></script>
   </p>
  </div>
  <div class="footer">
   <a href="https://github.com/dschep/fountainhead-status" target="_blank">
    About/Github/Feedback
   </a>
   |
   <a href="{{ url_for('json') }}" target="_blank">
    JSON
   </a>
  </div>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-40822116-7', 'auto');
   ga('send', 'pageview');
  </script>
 </body>
</html> 
